<div class="user-registration">
    <button class="back-btn" routerLink="/user-management">Back</button> <!-- Back button -->

    <h2>User Registration</h2>

    <!-- Simple Registration Form -->
    <form (submit)="onSubmit($event)">
        <div class="input-row">
            <div class="input-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" required>
            </div>

            <div class="input-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" required>
            </div>
        </div>

        <div class="input-row">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required>
            </div>

            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required>
            </div>
        </div>

        <div class="input-row">
            <div class="input-group">
                <label for="gender">Gender:</label>
                <input type="text" id="gender" name="gender" [(ngModel)]="gender" required>
            </div>

            <div class="input-group">
                <label for="company">Company:</label>
                <input type="text" id="company" name="company" [(ngModel)]="company" required>
            </div>
        </div>

        <div class="input-row">
            <div class="input-group">
                <label for="role">Role:</label>
                <input type="text" id="role" name="role" [(ngModel)]="role" required>
            </div>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>