<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
</head>
<body>
<header>
    <main>
        <div class="card">
        <form action="/addbook" method="POST">
             <div class="Bookdetails">
            <label for="name">Book Name:</label>
            <input type="text" name="bookname" placeholder="Enter Book Name"/>
        </div>
        <div class="Bookdetails">
            <label for="name">Book Discription:</label>
            <input type="text" name="Bookdesc" placeholder="Enter Book Discription"/>
        </div> 
            <div class="Bookdetails">
                <label for="name">Author:</label>
                <input type="text" name="auth" placeholder="Enter Author Name"/>
            </div>
          <div class="btn">
            <button type="submit">submit</button>
          </div>
            
        </form>
    </div>
        </main>
</header>
</body>
</html>